.options-box {
  width: 240px;
  margin-top: 32px;
  background-color: rgb(228, 228, 228);
  padding-top: 1px;
  font-family: "Alte DIN 1451 Mittelschrift gepraegt", sans-serif;
}

.option {
  width: 208px;
  height: 48px;
  padding: 12px 16px;
  /* background-color: rgb(248, 248, 248); */
}

.option:first-child {
  padding-top: 15px;
}

.option-title {
  margin-left: 8px;
  float: left;
  font-size: 24px;
  padding-top: 12px;
  max-width: 152px;
}

.option-logo-box {
  float: left;
  width: 48px;
  height: 48px;
}

.option-logo {
  display: block;
  width: 36px;
  margin: 6px;
}

.options-box hr {
  margin: 8px 10px;
}

.options-userbox {
  padding: 10px 0 20px;
  font-size: 18px;
}
