@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

.user-banner {
  float: left;
  border-bottom: grey solid 1px;
}

.user-banner img {
  background-color: white;
  object-fit: fill;
  height: 150px;
  width: 600px;
}

.user-pfp-follow {
  float: left;
  width: 600px;
}

.user-pfp-follow div {
  float: left;
}

.user-photo {
  margin-top: -16%;
  margin-left: 20px;
  border-radius: 50%;
  border: white solid 4px;
}

.user-photo img {
  border-radius: 50%;
  background-color: white;
  object-fit: fill;
  height: 140px;
  width: 140px;
}

.user-photo img:hover {
  filter: brightness(0.7);
}

.user-branding {
  text-align: center;
  width: 264px;
  margin-top: 5px;
  font-family: "Rye", cursive;
  font-size: 40px;
  font-weight: bold;
  cursor: default;
}

.user-branding span {
  text-decoration: underline;
}

.user-branding-hater {
  color: red;
}

.user-follow-button {
  width: 160px;
}

.user-follow-button button {
  float: right;
  width: 120px;
  height: 40px;
  font-size: 12px;
  margin: 10px;
}

.user-info {
  width: 600px;
  float: left;
  margin-bottom: 20px;
}

.user-info div {
  float: left;
}

.user-displayname,
.user-handle {
  text-align: left;
  margin-left: 20px;
  width: 440px;
}

#user-joindate {
  width: 120px;
  margin: 5px 15px 5px 5px;
  float: right;
  font-size: 12px;
  text-align: right;
  font-style: italic;
}

.user-displayname {
  font-weight: 900;
  font-size: 22px;
}

.user-handle {
  color: grey;
  font-size: 16px;
}

.user-handle::before {
  content: "@";
}

.user-bio {
  width: 540px;
  margin: 10px 30px;
  text-align: left;
  font-size: 14px;
}

.user-tabs div {
  float: left;
  font-size: 14px;
  margin-left: 25px;
  cursor: pointer;
}

.user-current-tab {
  text-decoration: underline;
}

.edit-profile-title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 28px;
}

.edit-profile-input {
  width: 100%;
}

.edit-profile-label {
  margin: 20px 0;
  font-size: large;
  font-weight: bold;
}

.edit-profile-hr {
  margin: 20px 0 0;
}

.edit-profile-input {
  resize: none;
  outline: none;
  overflow: auto;
}

.edit-profile-button {
  margin-top: 20px;
}

.image-rec-size {
  font-size: 12px;
  margin-top: 4px;
}
