.user-card {
  width: 560px;
  margin: 9px 19px;
  border: grey solid 1px;
  float: left;
  padding: 16px 0;
  border-radius: 4px;
  position: relative;
}

.user-card-content {
  float: left;
  text-align: left;
  max-width: 460px;
  word-wrap: break-word;
}

.user-card-content div {
  float: left;
}

.user-card-bio {
  font-size: 14px;
  margin-top: 5px;
  width: 460px;
  font-style: italic;
}

.user-card-follow {
  width: 100px;
  float: left;
  padding: 0 10px;
}

.user-card-follow button {
  width: 100px;
}

.user-card-info {
  width: 340px;
}
