.user-suggestions {
  margin-top: 32px;
  background-color: rgb(228, 228, 228);
}

.user-suggestions-loader .loader {
  width: 45px;
  height: 45px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
}

.user-suggestions-loader {
  padding: 30px;
}

.user-suggestions-title {
  width: 280px;
  margin: auto;
  padding: 16px 4px 8px;
  line-height: 24px;
  font-size: 24px;
  font-family: "Alte DIN 1451 Mittelschrift gepraegt", sans-serif;
}

.user-suggestion {
  width: 320px;
  height: 64px;
}

.user-suggestion-pfp img {
  border-radius: 50%;
  padding: 8px;
  width: 48px;
  height: 48px;
  object-fit: fill;
}

.user-suggestion-pfp img:hover {
  filter: brightness(0.8);
}

.user-suggestion div {
  float: left;
}

.user-suggestion-info {
  width: 150px;
  margin-top: 10px;
}

.user-suggestion-info div {
  float: left;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.user-suggestion-displayname {
  font-weight: bold;
}

.user-suggestion-handle {
  color: rgb(120, 120, 120);
}

.user-suggestion button {
  width: 92px;
  margin-top: 18px;
}

.user-suggestions-reroller {
  height: 40px;
  width: 90px;
  margin: auto;
  padding: 8px 0 4px;
}

.user-suggestions-reroller button {
  font-size: 14px;
  width: 90px;
  font-weight: 500;
  line-height: 32px;
  height: 32px;
}
