.find-user,
.user-suggestions {
  width: 320px;
}

.find-user {
  height: 88px;
  background-color: rgb(228, 228, 228);
}

.find-user-title {
  width: 304px;
  padding-top: 8px;
  margin: 0 8px 8px;
  line-height: 24px;
  font-size: 24px;
  text-align: left;
  font-family: "Alte DIN 1451 Mittelschrift gepraegt", sans-serif;
}

.find-user span.textbox {
  background-color: #fff;
  color: #888;
  line-height: 24px;
  height: 24px;
  font-size: 16px;
  padding: 3px;
  margin: 4px 4px 8px 8px;
  border: 1px #888 solid;
  float: left;
  width: 224px;
}

.find-user span.textbox input {
  border: 0px;
  background-color: #fff;
  outline: none;
  width: 200px;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
}

.find-user .button-primary {
  margin-top: 8px;
  width: 72px;
  height: 24px;
  float: left;
}
