.bitlist-loader {
  float: left;
  width: 100%;
}

.bitlist-loader .loader {
  width: 30px;
  height: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
}

.bit {
  width: 560px;
  margin: 9px 19px;
  border: grey solid 1px;
  float: left;
  padding-top: 16px;
  border-radius: 4px;
}

.bit-pfp {
  height: 100%;
  width: 80px;
  float: left;
}

.bit-pfp img {
  border-radius: 50%;
}

.bit-content {
  float: left;
  text-align: left;
  max-width: 480px;
  word-wrap: break-word;
}

.bit-info-displayname {
  font-weight: bold;
}

.bit-info-handle {
  /* font-style: italic; */
  margin-left: 10px;
}

.bit-info-handle,
.bit-info-time {
  color: rgb(160, 160, 160);
}

.bit-text {
  margin-bottom: 4px;
  margin-right: 16px;
}

.bit-buttons {
  height: 40px;
  width: 100%;
}

.bit-buttons input {
  margin-right: 96px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.no-bits {
  color: grey;
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
  float: left;
  width: 100%;
}
