.bitlist-loader {
  float: left;
  width: 100%;
  margin-top: 40px;
}

.bitlist-loader .loader {
  width: 30px;
  height: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
}

.bit {
  width: 560px;
  margin: 9px 19px;
  border: grey solid 1px;
  float: left;
  padding-top: 16px;
  border-radius: 4px;
  position: relative;
}

.bit-pfp {
  height: 100%;
  width: 80px;
  float: left;
}

.bit-pfp img {
  border-radius: 50%;
}

.bit-content {
  float: left;
  text-align: left;
  max-width: 480px;
  word-wrap: break-word;
}

.bit-info-displayname {
  font-weight: bold;
}

.bit-info-handle {
  /* font-style: italic; */
  margin-left: 10px;
}

.bit-info-handle,
.bit-info-time {
  color: rgb(160, 160, 160);
}

.bit-text {
  margin-bottom: 4px;
  margin-right: 16px;
  width: 464px;
}

.bit-buttons {
  height: 40px;
  width: 100%;
}

.bit-stat {
  width: 120px;
  height: 40px;
}

.bit-stat-count {
  line-height: 16px;
  height: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 80px;
  font-size: 14px;
}

.bit-buttons img {
  /* margin-right: 96px; */
  float: left;
  margin: 8px 12px 8px 4px;
  cursor: pointer;
}

.bit-buttons input {
  margin-right: 96px;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.no-bits {
  color: grey;
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
  float: left;
  width: 100%;
}

.bit-content div {
  float: left;
}

.bit-info {
  width: 450px;
  float: left;
}

.bit-delete {
  width: 12px;
  height: 12px;
  margin-right: 18px;
  float: right;
}

button.button-primary.delete-post {
  background-color: #d3455b;
  border-color: #d3455b;
  font-size: 8px;
  line-height: 16px;
  height: 16px;
  border-radius: 0;
  position: absolute;
  right: 43px;
  top: 14px;
  padding-left: 6px;
  padding-right: 3px;
}

.delete-post-arrow {
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #d3455b;
  right: 35px;
  top: 14px;
}
