.settings {
  width: 600px;
  margin: auto;
  border: lightgray 1px solid;
  border-radius: 4px;
}

.settings-title {
  font-size: 35px;
  font-weight: bold;
}

.settings-field {
  width: 480px;
  margin: auto;
}

.settings-header {
  text-align: left;
  width: 480px;
  margin: 20px 0 5px;
  font-size: 20px;
}

.settings-input-field {
  width: 480px;
  float: left;
  margin: 10px 0;
}

.settings input {
  /* inputs have 4px built in border etc */
  width: calc(100% - 8px);
  float: left;
}

.settings-input-label {
  float: left;
  width: 120px;
  margin-right: 8px;
  text-align: right;
  font-size: 14px;
}

.settings-input-wrapper {
  float: left;
  width: 352px;
}

.settings-input-wrapper .form-error-message {
  text-align: left;
  float: left;
  padding: 5px 0;
}

.settings-field button {
  margin-top: 10px;
}

.settings-field hr {
  margin: 20px 0;
}

#logout-button {
  margin: 20px auto;
}

#delete-account-button {
  margin: 20px auto;
}

#delete-account-button button {
  background-color: #d3455b;
  border-color: #d3455b;
}

.settings button {
  height: 28px;
  font-size: 11px;
}
